Username = lustianshun
email = 273338280@qq.com
_auth = c6abe569-3449-49da-8476-cbe82079434b=
always-auth = true
# registry = "https://registry.npm.taobao.org/"
# registry = "https://registry.npmjs.org/"